.show-selector__component {
	.select-show-heading {
		text-align: center;
		font-size: 1.4em;
		margin-bottom: 10px;
		font-weight: bold;
	}

	.options {
		display: flex;

		a {
			margin: 0 8px;
		}
	}
}
